@import 'theme';

.home {
	min-height: 1000px;
	padding-top: 50px;
	background: #fafafa;

	.container {		
		.navigation-holder {
			@include flexbox;
			margin-bottom: 50px;
			flex-wrap: wrap;
			justify-content: space-between;

			.filter {
				mat-form-field {
					.mat-form-field-wrapper {
						padding: 0 !important;
					}
				}
			}

			.search {
				display: inline-block;
			
				.holder {
					position: relative;
			
					.icon {
						position: absolute;
						top: 50%;
						left: 29px;
						width: 20px;
						color: #777777;
						transform: translate(0, -50%);
					}
			
					input {
						min-width: 480px;
						padding: 15px 50px 15px 75px;
						font: normal 14px/22px "Nunito Sans", sans-serif;
						outline: none;
						border: none;
						border-radius: 5px;
					}
				}
			}
		}

		mat-spinner {
			margin: 200px auto;
		}

		.card-holder {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 338px);
			grid-gap: 74px;

			app-card-list {
				cursor: pointer;
			}
		}
	}

	@include respond-to(md-down) {
		.container {
			
			.navigation-holder {
	
				.filter {
					mat-form-field {

						.mat-form-field-wrapper {
						}
					}
				}
	
				.search {
				
					.holder {
				
						.icon {
						}
				
						input {
						}
					}
				}
			}
	
			.card-holder {
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 60px;

				app-card-list {
				}
			}
		}
	}

	@include respond-to(sm-down) {
		padding-top: 22px;
		
		.container {
			
			.navigation-holder {
				margin-bottom: 30px;
	
				.filter {
					mat-form-field {
						margin-top: 35px;

						.mat-form-field-wrapper {
						}
					}
				}
	
				.search {
					width: 100%;
				
					.holder {
				
						.icon {
							font-size: 14px;
						}
				
						input {
							width: 100%;
							min-width: inherit;
							font-size: 12px;
						}
					}
				}
			}
	
			.card-holder {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 60px;

				app-card-list {
					max-width: 100%;
					margin: auto auto 30px auto;
				}
			}
		}
	}

	@include respond-to(xs) {
		.container {
			
			.navigation-holder {
	
				.filter {
					mat-form-field {

						.mat-form-field-wrapper {
						}
					}
				}
	
				.search {
				
					.holder {
				
						.icon {
						}
				
						input {
						}
					}
				}
			}
	
			.card-holder {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(2, 314px);

				app-card-list {
				}
			}
		}
	}
}