<div class="card-list box-shadow-1" (click)="clickCard()">
   <div class="image-holder">
      <!-- <img src="../../../../../assets/images/mock-flag.png" alt="flag"> -->
      <img src="{{ data.flag }}" alt="">
   </div>
   <div class="content">
      <h2 class="title">{{ data.name }}</h2>

      <p class="label">Population: <span class="text">{{ data.population | commaSeparator }}</span></p>
      <p class="label">Region: <span class="text">{{ data.region }}</span></p>
      <p class="label">Capital: <span class="text">{{ data.capital }}</span></p>
   </div>
</div>