@import 'theme';

.card-list {
	display: inline-block;
	max-width: 265px;
	border-radius: 5px;
	overflow: hidden;

	@include on-event {
		transform: translate(0, -10px);
	}

	.image-holder {
		width: 100%;

		img {
			width: 100%;
			height: 160px;
			object-fit: cover;
		}
	}

	.content {
		padding: 4px 24px 38px 24px;

		h2 {
			font-size: 18px;
		}

		p {
			&.label {
				font-size: 14px;
				font-weight: 700;
				margin: 0 0 5px 0;

				.text {
					font-weight: 300;
				}
			}
		}
	}
}
    